.el-card{
    margin-top: 5px;
}

.inputTitle{
    margin: 20px 0px 2px;
    color: #868687;
}

  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }

  .note{
    font-size: 12px;
  }